@media screen and (min-width: 768px){

    /* Title */

    #topbar {
        justify-content: flex-start;
    }

    /* Padding for Main */

    .container {
        padding: 30px;
    }
    
    /* Title */

    .recipe-origin {
       display: inline;
    }

    .recipe-name {
        font-size: 2em;
    }

    /* Grid Info */

    .quick-notes {
        padding: 0 auto;
    }

    .quick-notes ul {
        display: flex;
        flex-wrap: wrap;
        gap: 6%;

        li {
            width: 29%;
        }

    }
    
    /* Buttons */

    .social-networks {

        .btn {
            padding: 10px 48px;
        }
    }

    /* Banner */

    .ads {
        display: block;
    }

    /* Presentation */

    .presentation {

        img { 
            display: inline; 
            margin-right: 10px;
            float: left;
        } 
    }
}


@media screen and (min-width: 992px) {

    /* Title */
 
    .recipe-name {
        font-size: 2.5em;
    }

    /* Container: video + info */
    .recipe-card {
          display: flex;

          .recipe-video {
              width: 70%;
          }
          .recipe-info {
            width: 30%;
          }
      }

    /* Info  */

    .quick-notes ul {
        display: block;

        li {
            width: 80%;
        }
    }

    /* Labels */

    .social-networks {
        .btn {
           padding: 10px 4%;
        }
        
    }

    .social-networks .label {
        display: inline;
    }

    /* Footer */

    footer {
        display: flex;
        justify-content: space-between;

        address {
            text-align: start;
        }
    }

}